* {
  box-sizing: border-box;
}

@import 'components/container';

.game-wrapper {
  border: 1px solid black;
}

.editors-wrapper {
  border: 1px solid black;
}
@import 'components/levels-menu/levels-menu';
@import 'components/game/table';
@import 'components/game/items';
@import 'components/game/hint';
@import 'components/editors';
