.container {
  margin: 0 auto;
  // width: 1280px;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: max-content repeat(2, 1fr) 3rem;
  justify-content: center;
}