.editors-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.editor {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: 2rem 1fr;

  .editor__header {
    grid-column: 1 / 3;
  }

  .editor__numbers {
    text-align: right;
  }

  cursor: default;
}

.editor_viewer {
  .editor__codefield {
    div {
      padding-left: 20px;
    }
  }
}