.editors-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.editor {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: 2rem 1fr;

  .editor__header {
    grid-column: 1 / 3;
  }
  // .editor__textfield {
  //   display: grid;
  //   grid-template-columns: 3rem, 10rem;
  //   grid-template-rows: 3rem auto;
  // }
}