.levels-menu {
  background-color: #221e18;
  grid-row: 1 / 5;
  grid-column: 2 / 3;

  position: relative;

  &__header {
    padding: 1rem;
    font-weight: 500;
  }

  &__list {
    list-style: none;
  }
  
  &__button {
    padding: 9px 0 11px 0;
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 87%;

    color: #777777;
    background-color: #221e18;
    border: solid 2px rgba(255,255,255,.2);

    &:hover {
      background: rgba(255,255,255,.05);
    }

    &:active {
      bottom: 0.8rem
    }
  }
  
  .level-item {
    padding: 0.4rem 0 0.4rem 1rem;
    position: relative;
    cursor: pointer;
    color: #777777;

    &__icon {
      display: inline-block;
      width: 1.2em;
      height: 1.2em;

      position: relative;
      top: 0.2em;
      left: -0.2em;

      background-position: center center;
      background-size: cover;
    }

    &_completed {
      .level-item__icon {
        background-image: url('./../assets/tick-green.svg');
      }
    }

    &_helped {
      .level-item__icon {
        background-image: url('./../assets/tick-yellow.svg');
      }
    }

    &_incompleted {
      .level-item__icon {
        background-image: url('./../assets/tick-grey.svg');
      }
    }

    &_chosen {
      background: rgba(255,255,255,.07);
      color: #aaa;
    }

    &:hover {
      background: rgba(255,255,255,.05);
    }
  }
}
