plate,
bento {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 7rem;

  border: 1px solid black;

  transition: 0.3s all;

  &#fancy {
    border: 5px solid purple;
  }

  apple,
  orange,
  pickle {
    position: absolute;
  }
}

plate {
  border-radius: 100%;
  background-color: lightblue;
}

bento {
  background-color: darkred;
}

apple, 
orange, 
pickle {
  z-index: 10;

  width: 5rem;
  height: 5rem;
  border-radius: 100%;

  border: 1px solid black;
  
  transition: 0.3s all;

  &.small {
    width: 3rem;
    height: 3rem;
  
    z-index: 100;
  }

  &:nth-last-child(2) {
    top: 0.5rem;
  }
}

apple {
  background-color: red;
}

orange {
  background-color: orange;
}

pickle {
  width: 3rem;
  background-color: green;

  &.small {
    width: 2rem;
  }
}

[data-hovered="true"] {
  background-color: blue;
}
